
<div class="about common">
    <div class="comTitle">
        <h1 class="comTitle-big">关于安思泰</h1>
        <h5 class="comTitle-min">ABOUT ansindar</h5>
        <img class="comTitle-line" src="./web/images/6.png" alt="">
    </div>

    <div class="clear" id="about-index">
        <div class="about-aside fl">
            <div class="aboutItem fl">
                <h2 class="aboutItem-title about-title-re" >{$about.data[0]['hasmenu']['name']}</h2>
                <div class="aboutItem-content">{$res.data.0.depict}</div>
                <a href="{$about.data[0]['hasmenu']['url']}" class="aboutItem-btn" rel="nofollow">more+</a>
            </div>
            <img class="about-left-img fl" src="{$about.data[0]['image']}" alt="招贤纳士">
            <img class="about-left-img fl" src="{$about.data[1]['image']}" alt="团队介绍">
            <div class="aboutItem fl">
                <h2 class="aboutItem-title about-title-re" >{$about.data[1]['hasmenu']['name']}</h2>
                <div class="aboutItem-content">{$about.data[1]['depict']}</div>
                <a href="{$about.data[1]['hasmenu']['url']}" class="aboutItem-btn" rel="nofollow">more+</a>
            </div>
        </div>
        <div class="about-aside fl">
            <div class="aboutItem" style="position: absolute;">
                <h2 class="aboutItem-title about-title-re">{$about.data[2]['hasmenu']['name']}</h2>
                <div class="aboutItem-content">{$about.data[2]['depict']}</div>
                <a href="{$about.data[2]['hasmenu']['url']}" class="aboutItem-btn" rel="nofollow">more+<a>
            </div>
            <img class="about-right-img" src="{$about.data[2]['image']}" alt="合作伙伴">
        </div>
    </div>
</div>