<div class="brief-left fl" id="abstract">
    <ul class="brief-title-ul">
        <li class="brief-title-li brief-title-li-selected"><a href="{$about.contact_res.url}">{$about.data[3]['hasmenu']['name']}</a></li>
    </ul>
    <img src="{$about.data[3]['image']}" alt="广州安思泰企业管理咨询有限公司" class="brief-left-img">
    <p class="brief-left-desc u-ells5">{$about.data[3]['depict']}</p>
    <div class="brief-btn-ul clear">
        <a href="{$about.contact_res.url}" rel="nofollow"><li class="brief-bottom-btn contact fr">联系我们</li></a>
        <a href="{$about.data[3]['hasmenu']['url']}" rel="nofollow"><li class="brief-bottom-btn more fr">了解更多</li></a>
    </div>
</div>