<div class="brief-right fr">
    <div class="clear">
        <ul class="brief-title-ul brief-title-box fl" id="article_menu_list">
            {foreach $article.data as $vo}
            <li class="brief-title-li" data-type="{$vo[0]['type']}">
                <a href="{:url('/contentList',['type'=>$vo[0]['type']])}">
                    {$article.typeArr[$vo[0]['type']]['name']}
                </a>
            </li>
            {/foreach}
        </ul>
        <a class="news-btn fr" onclick="turnJumpArticle()">MORE +</a>
    </div>
    <div id="article-list">
        <!--文章列表-->
        {foreach $article.data as $vo}
        <ul class="news">
            {foreach $vo as $val}
            <li class="news-li clear">
                <time class="news-left fl">
                    <p class="news-time-monthDay news-time news-time-date ">{php}echo date('m-d',$val['showtime']);{/php}</p>
                    <p class="news-time news-time-year">{php}echo date('Y',$val['showtime']);{/php}</p>
                </time>
                <div class="news-right fr" style="cursor: pointer;">
                    <a href="{:url('/contentShow' , ['article_id' => $val['id']])}" target="_blank">
                        <h2 class="news-title u-ell">{$val.title}</h2>
                        <p class="news-content u-ells">{$val.depict}</p>
                    </a>
                </div>
            </li>
            {/foreach}
        </ul>
        {/foreach}
    </div>
</div>