<section class="bg">
    <div class="lawDtl common" id="content-detail">
        {switch typeName}
            {case article }
                <h1 class="lawDtl-title">{$article.detail.title}</h1>
                <ul class="author clear" >
                    <li style="float: right;">时间：{php}echo date('Y-m-d' , $article['detail']['showtime'] );{/php}</li>
                </ul>
                <div class="desc">
                    <p>{$article.detail.content}</p>
                </div>
                <div class="nextArticle clear">
                    <ul class="fl">
                        <li>
                            <a href="{:url('/contentShow',['article_id'=>$article.list.last.id])}" data-id="{$article.list.last.id}">上一篇：{$article.list.last.title}</a>
                        </li>
                        <li>
                            <a href="{:url('/contentShow',['article_id'=>$article.list.next.id])}"  data-id="{$article.list.next.id}">下一篇：{$article.list.next.title}</a>
                        <li>
                    </ul>
                </div>
            {/case}

            {case about }
                <h1 class="lawDtl-title">{$article.detail.hasmenu.name}</h1>
                <ul class="author clear" >
                </ul>
                <div class="desc">
                    <p>{$article.detail.content}</p>
                </div>
                <div class="nextArticle clear">
                </div>

            {/case}

            {case contact }
                <h1 class="lawDtl-title">联系我们</h1>
                <ul class="author clear" >
                </ul>
                <div class="desc">
                    <p>{$article.detail.content}</p>
                </div>
                <div class="nextArticle clear">
                </div>

            {/case}


            {default /}
        {/switch}



    </div>
</section>