<div class="levelOne">
    <ul class="levelOne-ul" id="law_type_list">
        <!--菜单-->
        {php}$tmp = [];{/php}
        {foreach $data.data as $key => $vo }
            {if in_array($vo['type'] , $tmp)}

            {else /}
                <li class="levelOne-li" id="catelog-{$vo.type}">{$data.typeArr[$vo.type]['name']}</li>
                {php}$tmp[] = $vo['type'];{/php}
            {/if}
        {/foreach}
    </ul>
</div>
<div class="common" id="law_list">
    <ul class="law-ul clear">
    <!--列表-->
    {foreach $data.data as $key => $vo }
        <li class="law-li clear">
            <div class="fl law-li-imgBox">
                <img class="law-li-img" src="{$vo.image}" alt="">
            </div>
            <div class="fr law-right">
                <h1 class="law-li-title u-ell">{$vo.title}</h1>
                <p class="law-li-desc u-ells3">{$vo.depict}</p>
                <div class="clear">
                    <time class="law-li-time fl">{php}echo date('Y-m-d',$vo['showtime']);{/php}</time>
                    <a href="{:url('/contentShow',['article_id'=>$vo['id']])}" class="law-li-btn fr">查看详情</a>
                </div>
            </div>
        </li>
    {/foreach}
    </ul>
</div>