<footer class="com-footer">
    <div class="footer-box">
        <div class="clear">
            <ul class="fl" id="contact-list">
                {if condition="strlen($res.data.tel) > 0"}
                <li class="footer-li">
                    <img class="footer-icon" src="./web/images/21.png" alt="">
                    <a href="tel:{$res.data.tel}" class="footer-link">电话：{$res.data.tel}</a>
                </li>
                {/if}

                {if condition="strlen($res.data.fax) > 0"}
                <li class="footer-li">
                    <img class="footer-icon" src="./web/images/22.png" alt="">
                    <a href="javascript:void(0);" class="footer-link">传真：{$res.data.fax}</a>
                </li>
                {/if}

                {if condition="strlen($res.data.zip_code) > 0"}
                <li class="footer-li">
                    <img class="footer-icon" src="./web/images/23.png" alt="">
                    <a href="mailto:{$res.data.zip_code}" class="footer-link">邮箱：{$res.data.zip_code}</a>
                </li>
                {/if}

                {if condition="strlen($res.data.web_site) > 0"}
                <li class="footer-li">
                    <img class="footer-icon" src="./web/images/24.png" alt="">
                    <a href="{$res.data.web_site}" class="footer-link">网址：{$res.data.web_site}</a>
                </li>
                {/if}




            </ul>
            <div class="footer-right fr" id="contact-qrcode">
                {if condition="strlen($res.data.qrcode) > 0"}
                <img class="" src="{$res.data.qrcode}" alt="">
                {/if}
            </div>
        </div>

       <!-- <p class="footer-else">
            <span>友情链接：</span>
            <a href="http://www.siyuanyixie.com">医疗器械厂家</a>
        </p>-->


        <p class="footer-copyright">
            {if condition="(strlen($res.beian_url.value) > 0)"}
            <a href="{$res.beian_url.value}">{$res.beian.value}</a>
            {else /}
            {$res.beian.value}
            {/if}
        </p>
    </div>
</footer>