<div class="link common">
    <h1 class="link-title">友情链接</h1>
    <ul class="clear link-ul" id="friend-list">
        {foreach $firend as $vo}
        <li class="link-li">
            <img src="{$vo.image}" alt="">
        </li>
        {/foreach}

    </ul>
</div>