<header class="header">
    <div class="swiper-container clear">
        <div class="swiper-wrapper">
            <!--轮播图内容-->
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="nav-bg">
        <nav class="nav common u-centerH clear">
            <!--logo-->
            <a href="/"><img class="nav-logo fl" id="logo-img" src="{$header.logo.value}" alt="广州安思泰企业管理咨询有限公司" title="广州安思泰企业管理咨询有限公司"></a>
            <div class="wapBox">
                <img class="wapBox-exitImg" src="./web/images/exit.png" >
                <ul class="nav-ul fr" id="web-menu">
                    <!--导航-->
                    {foreach $header.menu as $vo}
                    {if condition="!empty($vo.child)"}
                    <li class='nav-li {if condition="!empty($vo.child[0]['about'])"}nav-li-about{/if}'>
                    <a class="nav-a" href="javascript:void(0)">{$vo.name}</a>
                    <img class="nav-li-img nav-li-img-bottom " src="./web/images/3.png" alt="" class="nav-li-icon">
                    <img class="nav-li-img nav-li-img-top" src="./web/images/2.png" alt="" class="nav-li-icon">
                    <div class="abs clear">
                        <ul class="abs-left fl">
                            {foreach $vo.child as $val}
                            <li class="abs-left-title"><a class="abs-title-a menu_a" href="{$val.url}">{$val.name}</a></li>
                            {/foreach}
                        </ul>

                        {if condition="!empty($vo.child[0]['about'])"}
                        <ul class="abs-right fl">
                            {foreach $vo.child as $val}
                            {if condition="empty($val.about)"}
                            {else /}
                            <li class="abs-right-li">
                                <img src="{$val.about.image}" alt="" class="abs-right-img">
                                <p class="abs-right-desc u-ells3">{$val.about.depict}</p>
                            </li>
                            {/if}
                            {/foreach}
                        </ul>
                        {/if}
                    </div>
                    </li>
                    {else /}
                    <li class="nav-li"><a class="nav-a nav-li-actived menu_a" href="{$vo.url}">{$vo.name}</a></li>
                    {/if}

                    {/foreach}

                </ul>


            </div>
            <img src="./web/images/btn.png" class="header-btn fr" />
        </nav>
    </div>
</header>