<ul class="service-ul clear" id="service-index">
    {foreach $service as $vo}
        <li class="service-li">
            <img class="service-img" src="{$vo.icon}" alt="">
            <h4 class="service-title">{$vo.name}</h4>
            <div class="service-abs">
                <h2 class="service-abs-title u-ell">{$vo.name}</h2>
                <div class="service-abs-link">
                    {foreach $vo.service as $val}
                    <a href="./service.html?one={$vo.id}&two={$val.id}"> {$val.name}</a>
                    {/foreach}
                </div>
            </div>
        </li>

    {/foreach}
</ul>