.bg {
  background-color: #f0f0f0;
}

header {
  position: relative;
}

section {
  min-height: 700px;
}

.bannerImg {
  width: 100%;
  vertical-align: top;
}

.nav-bg {
  height: 99px;
  background-color: rgba(255, 255, 255, 0.76);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.nav-logo {
  padding-top: 36px;
}

.nav-ul {
  margin-top: 64px;
}

.nav-li-img-top {
  display: none;
}

.nav-li {
  position: relative;
  float: left;
  padding-left: 20px;
  height: 35px;
}

.nav-li:hover .abs {
  display: block;
}

.nav-li:hover .nav-a {
  color: #0095FF;
}

.nav-li:hover .nav-li-img-top {
  display: inline-block;
}

.nav-li:hover .nav-li-img-bottom {
  display: none;
}

.nav-li-actived .nav-a::before {
  content: '';
  width: 110%;
  position: absolute;
  bottom: -15px;
  left: -5%;
  border-bottom: 2px solid #007BD2;
}

.nav-li:hover .nav-a::before {
  content: '';
  width: 110%;
  position: absolute;
  bottom: -15px;
  left: -5%;
  border-bottom: 2px solid #007BD2;
}

.nav-a {
  color: #333;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

.abs {
  position: absolute;
  width: 520px;
  left: 0px;
  top: 35px;
  display: none;
}

.abs-left {
  width: 200px;
  display: inline-block;
  background-color: #f4f4f4;
  /* min-height: 200px; */
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: left;
  position: relative;
}

.abs-left-title:hover {
  background-color: #0095ff;
  color: #fff;
}

.abs-left-title:hover .abs-title-a::after {
  display: block;
  content: '>';
  position: absolute;
  top: -1px;
  left: -13px;
  display: none;
}

.nav-li-about .abs-left {
  width: 120px;
}

.abs-left a {
  display: block;
  height: 43px;
  line-height: 43px;
}

.nav-li .abs-left a {
  text-indent: 21px;
}

.abs-left .abs-title-a::after {
  display: block;
  content: '>';
  position: absolute;
  top: -1px;
  left: -13px;
  display: none;
}

.abs-left-actived {
  background-color: #0095ff;
  color: #fff;
  position: relative;
}

.abs-left-actived a::after {
  display: inline-block !important;
}

.abs-right {
  width: 400px;
  display: inline-block;
  background-color: #fff;
  min-height: 303px;
  padding: 20px 40px 10px;
}

.abs-right li {
  display: none;
}

.abs-right-img {
  width: 100%;
}

.abs-right-title {
  color: #0095FF;
  text-align: center;
  padding: 20px 0 8px;
}

.abs-right-desc {
  width: 100%;
}

.com-footer {
  display: block;
  height: 280px;
  background: url(../images/29.png) no-repeat center center;
}

.footer-box {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 44px 0 40px;
}

/* 导航a标签 下划线 */

.footer-link {
  color: #fff;
  opacity: 0.8;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  line-height: 26px;
}

.footer-else{
  color: #fff;
  opacity: 0.8;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-copyright {
  color: #fff;
  opacity: 0.3;
  margin: 20px 0 5px;
  text-align: center;
}

.header-btn {
  display: none;
}

.wapBox-exitImg {
  display: none;
}

@media screen and (max-width: 768px) {
  .common {
    width: 100%;
  }

  .nav-bg {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .nav-logo {
    padding-top: 5px;
  }

  .header-btn {
    display: inline-block;
    float: right;
    margin: 12px 20px 0 0;
  }

  .wapBox {
    position: fixed;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: all .5s;
    overflow: hidden;
  }

  .wapBox.showNav {
    right: 0;
    width: 100vw;
  }

  .wapBox-exitImg {
    display: inline-block;
    margin: 12px 0 0 20px;
  }

  .nav-ul {
    margin-top: 20px;
  }

  .nav-li {
    box-sizing: content-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    height: auto;
    height: 41px;
    line-height: 41px;
    overflow: hidden;
  }

  .nav-li.heightAuto {
    height: auto;
    background-color: #007BD2;
  }

  .nav-li:hover .nav-li-img-top {
    display: none;
  }

  .nav-li:hover .nav-li-img-bottom {
    display: inline-block;
  }

  .nav-li:hover .nav-a::before {
    width: 0;
    color: inherit;
  }

  .nav-li:hover .nav-a {
    color: inherit;
  }

  .nav-li-img-bottom,
  .nav-li-img-top {
    float: right;
    margin: 15px 20px;
  }

  .nav-li-img-bottom {
    transform: rotate(-90deg);
    display: inline-block;
  }

  .nav-li .abs {
    position: relative;
    display: block;
    width: 100%;
    left: -20px;
    top: 0;
  }

  .nav-li .abs-left {
    width: 100%;
    /* background-color: transparent; */
    padding: 0;
  }

  .nav-li-actived .nav-a::before {
    display: none;
  }

  .abs-left-actived {
    background: transparent;
    color: inherit;
  }

  .abs-left-actived .abs-title-a::after {
    content: '';
    height: 0;
    overflow: hidden;
  }

  .abs-left-title:hover {
    background-color: transparent;
    color: inherit;
  }

  .nav-li .abs-right {
    display: none;
  }

  .abs-left {
    width: 100%;
  }

  .com-footer {
    display: block;
    height: auto;
  }

  .footer-box {
    width: 100%;
    height: 100%;
    padding: 20px 0 10px 10px;
  }

  .footer-right {
    display: none;
  }

  .footer-copyright {
    width: 100%;
    margin: 0;
  }

}