h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold!important;
    margin: 0;
    padding: 0;
    -webkit-margin-after: 0;
    font-size: 100%;
}

b,strong{
    font-weight: bold!important;
}

table{
    table-layout: auto!important;
}
section {
    min-height: 50px!important;
}