.comTitle {
  position: relative;
  text-align: center;
  width: 300px;
  margin: 80px auto 40px;
}

.comTitle-big {
  font-size: 30px;
  margin-bottom: 8px;
}

.comTitle-line {
  width: 480px;
  position: absolute;
  left: -90px;
  top: 22px;
}

.service-li {
  float: left;
  width: 264px;
  height: 325px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 40px;
  margin-bottom: 80px;
  position: relative;
}

.service-li:hover .service-abs {
  display: block;
}

.service-li:not(:last-child) {
  margin-right: 47px;
}

.service-img {
  display: block;
  width: 180px;
  margin: 0 auto;
}

.service-title {
  width: 205px;
  margin: 20px auto 0;
  background: #0095FF;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
}

.service-abs {
  display: none;
  background: #0095FF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-abs-title {
  padding: 30px 0 20px;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #FFFFFF;
}

.service-abs-link {
  padding: 0 30px 0 50px;
}

.service-abs-link a {
  display: block;
  margin-bottom: 11px;
  color: #fff;
  opacity: 0.8;
  position: relative;
}

.service-abs-link a::after {
  content: '>>';
  position: absolute;
  left: -30px;
  top: 0px;
}

.brief-bg {
  width: 100%;
  background-image: linear-gradient(-174deg, rgba(0, 253, 255, 0.1) 0%, rgba(0, 149, 255, 0.1) 100%);
  padding: 40px 0;
}

.brief-left {
  width: 488px;
}

.brief-left-img {
  display: block;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.brief-left-desc {
  line-height: 28px;
  text-indent: 28px;
}

.brief-bottom-btn {
  width: 96px;
  text-align: center;
  height: 27px;
  line-height: 27px;
  border-radius: 13.5px;
  margin: 17px 10px 0 0;
}

.brief-bottom-btn.more {
  color: #0095FF;
  border: 1px solid #0095FF;
}

.brief-bottom-btn.contact {
  color: #fff;
  background-image: linear-gradient(-144deg, #00EDFF 0%, #0095FF 100%);
}

.brief-right {
  width: 605px;
}

.brief-title-li {
  display: inline-block;
  margin: 0 20px 40px 0;
  padding: 9px 20px;
  border-radius: 19px;
  font-size: 16px;
}

.brief-title-li-selected {
  display: inline-block;
  background-image: linear-gradient(-148deg, #00EDFF 0%, #0095FF 100%);
  color: #FFFFFF;
}

.news {
  display: none;
}

.news-btn {
  width: 76px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  color: #ccc;
  border: 1px solid #CCCCCC;
  border-radius: 19px;
}

.news-right {
  display: inline-block;
  width: 510px;
}

.news-left {
  display: inline-block;
  width: 80px;
  text-align: center;
}

.news-time-date {
  height: 40px;
  line-height: 40px;
  background-image: linear-gradient(-161deg, #00C7FF 0%, #0095FF 100%);
}

.news-time-year {
  height: 29px;
  line-height: 29px;
  font-size: 16px;
  background-color: #F3DF0E;
}

.news-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.news-content {
  color: #666;
  margin-bottom: 20px;
}

.about-aside {
  width: 600px;
  height: 440px;
  position: relative;
}

.aboutItem {
  width: 300px;
  height: 220px;
  padding: 25px 20px;
  background-color: #fff;
}

.aboutItem-title {
  text-align: center;
  height: 24px;
  margin-bottom: 34px;
  position: relative;
}

.about-title-re{
  font-size: 17px;
}

li.footer-li{
  margin-bottom: 8px;
}

.aboutItem-title::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 108px;
  width: 40px;
  border-bottom: 2px solid #ccc;
}

.aboutItem-content {
  text-align: left;
  height: 84px;
}

.aboutItem-btn {
  display: block;
  color: #0095FF;
  width: 57px;
  margin: 8px auto;
  height: 21px;
}

.link-title {
  color: #000;
  text-align: center;
  width: 100px;
  margin: 80px auto 40px;
}

.link-ul {
  margin-bottom: 60px;
}

.link-li {
  float: left;
  width: 285px;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
}

.link-li:not(:nth-child(4n+4)) {
  margin-right: 20px;
}

.news-time-monthDay{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .comTitle {
    width: 200px;
    margin: 20px auto 20px;
  }

  .comTitle-big {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .comTitle-line {
    width: 300px;
    left: -50px;
    top: 15px;
  }

  .service-li:hover .service-abs {
    display: none;
  }

  .service-li:not(:last-child) {
    margin-right: 0;
  }

  .service-li {
    float: left;
    width: 48%;
    margin: 0 1% 10px 1% !important;
    height: auto;
    border-radius: 5px;
    padding: 10px 0 10px;
    margin-bottom: 20px;
  }

  .service-img {
    width: 90%;
    margin: 0 auto;
  }

  .service-title {
    width: 90%;
    margin: 20px auto 0;
    height: 30px;
    line-height: 30px;
    color: #fff;
  }

  .brief-left {
    width: 100%;
    padding: 0 5px;
  }

  .brief-right {
    width: 100%;
  }

  .brief-bg {
    padding: 0;
  }

  .brief-title-li {
    margin: 10px 10px 10px 5px;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 16px;
  }

  .brief-left-img {
    width: 85%;
  }

  .news-li {
    padding: 0 1%;
  }

  .news-btn {
    margin: 10px 5px 0 0;
  }



  .news-left {
    width: 22%;
  }

  .news-time-date {
    height: 35px;
    line-height: 35px;
  }

  .news-time-year {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }



  .news-right {
    width: 75%;
  }

  .news-title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .about-aside {
    width: 100%;
    height: auto;
  }

  .about-left-img,
  .aboutItem {
    display: inline-block;
    width: 50%;
    height: 50%;
  }

  .aboutItem {
    display: inline-block;
    padding: 3px 5px;
    position: relative;
  }

  .aboutItem pre {
    word-wrap: break-word;
    white-space: normal;
  }

  .aboutItem-title {
    margin-bottom: 10px;
  }

  .aboutItem-title::after {
    top: 25px;
    left: 62px;
    width: 40px;
    border-bottom: 2px solid #ccc;
  }

  .about-right-img {
    width: 100%;
  }

  .aboutItem-btn {
    /* float: right; */
    position: absolute;
    top: 108px;
    right: 0;
  }

  .link-ul {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .link-title {
    margin: 20px auto 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .link-li:not(:nth-child(4n+4)) {
    margin-right: 0;
  }

  .link-li:nth-child(2n+1){
    margin-right: 2%;
  }

  .link-li {
    width: 49%;
    height: auto;
    margin-bottom: 10px;
  }
  .link-li img{
    width: 100%;
  }
}