.levelOne {
  vertical-align: top;
  background-image: linear-gradient(0deg, #14CB85 0%, #11BCED 100%);
  text-align: center;
}

.levelOne-li {
  width: 250px;
  display: inline-block;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.levelOne-li-actived {
  opacity: 0.7;
  background: #FFFFFF;
  color: #333;
}

.levelTwo {
  margin: 40px auto 42px;
  text-align: center;
  font-size: 0;
  border-bottom: 2px solid #ccc;
}

.levelTwo-ul {
  display: none;
}

.levelTwo-li {
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  width: 250px;
  height: 80px;
  line-height: 76px;
  padding: 12px 10px 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.levelTwo-ul:nth-child(1) .levelTwo-li {
  width: 200px;
  height: 76px;
}

.levelTwo-ul:nth-child(1) .levelTwo-li-actived::after {
  left: 90px;
}

.levelTwo-li .levelTwo-a {
  line-height: 1.4;
  vertical-align: center;
}

.levelTwo-li:not(:first-child)::before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  width: 2px;
  height: 30px;
  background: #D8D8D8;
  border-radius: 1px;
}

.levelTwo-li.levelTwo-li-actived::before,
.levelTwo-li-actived+.levelTwo-li::before {
  width: 0px !important;
}

.levelTwo-li-actived {
  background: #12B9FD;
  color: #fff;
  position: relative;
}

.levelTwo-li-active::before {
  width: 0 !important;
  height: 0 !important;
}

.levelTwo-li-actived::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 3px;
  left: 115px;
  border-width: 8px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: #fff transparent transparent transparent;
}

.service-desc-li {
  display: none;
  font-family: PingFangSCRegular;
  font-size: 16px;
  /*color: #666666;*/
}

@media screen and (max-width: 768px) {
  section {
    min-height: calc(100vh - 207px - 42px - 123px + 20px);
  }

  .levelOne-ul {
    text-align: left;
    width: 100%;
    padding: 5px 6px;
    border-radius: 5px;
    overflow: hidden;
  }

  .levelOne-li {
    float: left;
    width: 50%;
    line-height: 2;
    border-radius: 5px;
    text-align: center;
  }

  .levelTwo {
    margin: 10px 0;
    text-align: left;
  }

  .levelTwo-li,
  .levelTwo-ul:nth-child(1) .levelTwo-li {
    width: 50%;
    height: auto;
    min-height: 66px;
    line-height: 66px;
    padding: 0;
    display: table;
    float: left;
    /* display: flex;
    justify-content: center; */
  }

  .levelTwo .levelTwo-a {
    display: table-cell;
    vertical-align: middle;
  }

  .levelTwo .levelTwo-a p {
    line-height: 1.4;
  }

  .levelTwo-titleTop {
    display: inline;
    text-align: left;
    white-space: normal;
  }

  .levelTwo-li:not(:first-child)::before {
    width: 0;
  }

  .levelTwo-li-actived::after {
    bottom: -6px;
    left: 50%;
  }

  .levelTwo-li:nth-child(even)::before {
    width: 2px;
    top: 12px;
  }

  .service-desc-li {
    padding: 0 6px;
  }
}