<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Service_list_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-service_list_name" class="form-control" name="row[service_list_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qq_1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qq_1" class="form-control" name="row[qq_1]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qq_2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qq_2" class="form-control" name="row[qq_2]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hotline_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hotline_name" class="form-control" name="row[hotline_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hotline_1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hotline_1" class="form-control" name="row[hotline_1]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hotline_2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hotline_2" class="form-control" name="row[hotline_2]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qrcode_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-qrcode_image" class="form-control" size="50" name="row[qrcode_image]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-qrcode_image" class="btn btn-danger plupload" data-input-id="c-qrcode_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-qrcode_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-qrcode_image" class="btn btn-primary fachoose" data-input-id="c-qrcode_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-qrcode_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-qrcode_image"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
